<style type="text/css">
    .navbar {
        margin-bottom: 0 !important;
    }
    a{
        color: #FF66CC;
    }
</style>

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Wishes</h1>
                    <h3>Want your wishes to come through?</h3>
                    <hr class="intro-divider">
                    <div>
                        <h3 <a href="#/signup">Create an account</a> to start adding your wishes today.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
